.conditionsBlock{
    margin-left: 32px;
    margin-bottom: 84px;
}
.conditionsBlock p {
    margin: 13px 0 0 0;
}
.degrees{
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
}
.sky{
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
}