.infoMargin {
  display: flex;
  padding-inline: 2.2em;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: wrap;
  padding-top: 1em;
}

.precipitationsBlock {
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}
.humidityBlock {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}
.windBlock {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}
.statBlock {
  margin-bottom: 16px;
}
.stat {
  margin: 0;
}
