.conditionsBlock {
  margin-left: 32px;
  margin-bottom: 84px;
}
.conditionsBlock p {
  margin: 13px 0 0 0;
}
.degrees {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
}
.sky {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
}
@media (max-width: 600px) {
  .conditionsBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }
  .conditionsBlock p {
    margin: 0;
  }
  .degrees {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
  }
  .sky {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
  }
}
