@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
  min-height: 729px;
  background-color: #343d4b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather {
  width: 493px;
  height: 666px;
  background: url("./Assets/img/Rectangle\ 2.png"),
    linear-gradient(
      152.19deg,
      rgba(136, 235, 239, 0.9) -0.04%,
      rgba(83, 91, 230, 0.9) 100%
    );
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info {
  max-width: 472px;
  width: 100%;
  /* height: 623px; */
  background-color: #222831;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  padding-block: 50px;
}

.location-Button {
  width: 85%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  gap: 10px;
  padding-left: 2em;
}
.btn {
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(
    90.8deg,
    rgba(144, 217, 224, 0.9) 0.2%,
    rgba(84, 96, 230, 0.9) 100%
  );
}
.location-input {
  padding: 0.85em;
  border-radius: 8px;
  border: none;
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .weather {
    flex-direction: row;
    max-width: 472px;
    width: 100%;
    background: url("./Assets/img/Rectangle\ 2.png"),
      linear-gradient(
        152.19deg,
        rgba(136, 235, 239, 0.9) -0.04%,
        rgba(83, 91, 230, 0.9) 100%
      );
    padding-block: 1em;
    justify-content: space-around;

    align-items: center;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .info {
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-block: 0;
  }
  .location-Button {
    padding-bottom: 1.5em;
  }
  .btn {
    border-radius: 0;
    border: none;
  }
  .location-input {
    border-radius: 0;
    border: none;
  }
}
